.evaluacion{
    margin-top: 80px;
    background-color: rgba(255, 247, 94, 1);
    height: 200px;
}
.conteEva{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
    margin-top: 30px;
    top: 20px;
}
.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bs-primary);
    --bs-popover-header-bg: var(--bs-primary);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
  }

/*   body {
    margin: 0;
    color: #fff;
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    }*/
  
  .app {
    background-color: rgba(252, 191, 73, 1);
    color: black;
    max-width: 850px;
    min-width: 450px;
    max-height: 800px;
    min-height: 200px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 10vh;
  } 
/*   .app1{
    background-color: rgba(252, 191, 73, 1);
    color: black;
    max-width: 650px;
    min-width: 450px;
    height: min-content;
    min-height: 200px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    margin-left: 200px;

  } */
  /* PREGUNTAS */
  .lado-izquierdo {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
  }
  
  .pregunta-numero {
    margin-bottom: 20px;
  }
  
  .pregunta-numero span {
    font-size: 28px;
  }
  
  .pregunta-titulo {
    margin-bottom: 12px;
    color: black;
  }
  
  .lado-derecho {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
  }
  
  /* FINALIZADO */
  .juego-terminado {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 24px;
    align-items: center;
    color: black;
  }
  
  /* GRAL */
  .button1 {
    width: 100%;
    font-size: 16px;
    color: rgba(0, 48, 73, 0.8);
    background-color: rgba(255, 247, 94, 1);
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid rgba(255, 247, 94, 1);
    cursor: pointer;
    color: black;
  }
  
  .tiempo-restante {
    font-size: 14px;
    color: black;
    margin-bottom: 20px;
  }
  
  .correct,
  .correct:hover {
    background-color: #2f922f;
  }
  
  .incorrect,
  .incorrect:hover {
    background-color: #ff3333;
  }
  
  .btns-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  .button1:hover {
    background-color: rgba(172, 226, 255, 0.8);
    color: black;
  }
  
  .button1[disabled] {
    background-color: rgba(0, 48, 73, 0.8);
    color: black;
    cursor: not-allowed;
  }

  #disabled{
    border: 2px rgba(0, 48, 73, 0.8);
  }
  
  .button1:focus {
    outline: none;
    color: black;
  }
  
  .button1 svg {
    margin-right: 5px;
    color: black;
  }