
.login{
  position: absolute;
  display: flex;
  justify-content: center;
  background-color:rgba(248, 248, 250, 1);
  margin-top: 51px;
/*   margin: 100px; */
  padding-bottom: 400px;
  margin-bottom: 110px;
  width: 600px;
  height: 750px;
  top: 10%;
  right: 25%;
  left: 25%;
}

.titulo{
  position: absolute;
  top: 480px;
  transform: translate(54%, -50%);
}

.gato{
  position: relative;
  display: inline-block;
  text-align: center;
  top: -40px;
}
