
.login{
  position: absolute;
  display: flex;
  justify-content: center;
  background-color:rgba(248, 248, 250, 1);
  margin-top: 51px;
/*   margin: 100px; */
  padding-bottom: 330px;
  margin-bottom: 110px;
  width: 600px;
  height: 750px;
  top: 10%;
  right: 25%;
  left: 25%;
}

.tituloLogin{
  position: absolute;
  top: 300px;
  right: 500px;
  transform: translate(6%, -50%);
}

.diseñoLogin{
 font-weight: 700;

}

.gato{
  position: relative;
  text-align: center;
  top: 30px;
  right: -10px;
}

.SubtituloLogin{
  position: absolute;
  top: 320px;
  left: 425px;
  width: max-content;
  display: flex;
  transform: translate(20%, -5%);
}

.SubtituloLogin h2{
  font-size: 20px;
  font-weight: 450;
  
  
}

.Credenciales{
  position: relative;
  top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Credenciales form{
  margin: 5px;
  padding: 10px;
}

.nombre,.contraseña{
  margin: 10px;
}

.cuadroNameLogin1{
  box-sizing: border-box;

  position: absolute;
  width: 400px;
  height: 35px;
  right: 510px;
  top: 10px;

  background: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid #000000;
  /* filter: blur(2px); */
  border-radius: 38px;

}

.nameLogin1{
  position: absolute;
  width: 200px;
  height: 20px;
  left: 520px;
  top: -13px;
  
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;
  
  color: #000000;
}

.cuadroContraseñaLogin1{

  box-sizing: border-box;

  position: absolute;
  width: 400px;
  height: 35px;
  right: 510px;
  top: 90px;

  background: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid #000000;
  /* filter: blur(2px); */
  border-radius: 38px;

}

.contraseñaLogin1{
  position: absolute;
  width: 200px;
  height: 20px;
  left: 520px;
  top: 66px;
  
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;
  
  color: #000000;

}

.diseñoH6{
  position: absolute;
width: 301px;
height: 19px;
left: 685px;
top: 133px;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 26px;
display: flex;
align-items: center;
letter-spacing: -0.017em;

color: #00A3FF;

}

.botonIniciarSesion{
  box-sizing: border-box;
  position: absolute;
  width: 258px;
  height: 41px;
  right: 580px;
  top: 200px;

}
.h7{
  
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;

  
  color: #000000;
}
.contraseña{
  position: relative;
  transform: translate(-23%, -5%);
}

.diseñoH8{
  position: absolute;
width: 320px;
height: 28px;
left: 560px;
top: 300px;

font-family: 'Inter';
font-style: italic;
font-weight: 200;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: center;
letter-spacing: 0.001em;
word-spacing: 0.1em;

color: #000000;

}

