.col1 {
    color: rgb(0, 0, 0);
    margin-top: 100px;
}

.caption1 {
    margin-top: 40px;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 95px;
    line-height: 131.5%;
    margin-left: 150px;
    text-align: left;
}

.gatitojugando {
    width: 120%;
    height: 220%;
    margin-top: 6px;
}

.container {
    margin-bottom: 100px;
}

/* No borrar porfavor  */
/* body{
    background-image: url("../../assets/img/Tran.gif"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}  */


.btn-abrir-popup {
    background-color: rgb(255, 202, 67);
    font-size: 30px;
    border-radius: 30px;
    padding: 20px;
    font-weight: bold;
    margin-top: 100px;
}

.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;

}

/* https://www.youtube.com/watch?v=VAkKb8lTd-Q&ab_channel=FalconMasters */