.col1 {
    color: rgb(0, 0, 0);
    margin-top: 100px;
    padding-bottom: 10vh;
}

/* *{
    border: 2px solid black;
}  */

.caption1 {
    margin-top: 40px;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 95px;
    line-height: 131.5%;
    margin-left: 150px;
    text-align: left;
}

.gatitojugando {
    width: 120%;
    height: 220%;
    margin-top: 6px;
}

.principal {
    margin-bottom: 50px;
    margin-top: 10px;
    /* Este gradiente tiene primero el angulo , el color , el porcentage de relleno -> el otro color que en este caso el porcentaje se rellena auto */
    background: linear-gradient(45deg, rgba(255, 234, 0, 0.45)40%, rgba(255, 128, 11, 0.65));
    padding-bottom: 10vh;
}

/* No borrar porfavor  */
/* body{
    background-image: url("../../assets/img/Tran.gif"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}  */


