
.CartasConocenos{
    min-width: 15vw;
    height: fit-content;
    translate: -3.5vw;
}

.tituloconocenos {
    color: #000000;
    font-family: 'Inter', sans-serif;
}

.card-abril {
    transition: .5s;
}

.card-abril:hover {
    transform: translateY(-10px);
}

.card-diego {
    transition: .5s;
}

.card-diego:hover {
    transform: translateY(-10px);
}

.card-alin {
    transition: .5s;
}

.card-alin:hover {
    transform: translateY(-10px);
}

.card-nico {
    transition: .5s;
}

.card-nico:hover {
    transform: translateY(-10px);
}

.card-lucas {
    transition: .5s;
}

.card-lucas:hover {
    transform: translateY(-10px);
}

