.Titulo h2 {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 66px;

    color: #030100;
}

.SubtituloM h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    
    color: #000000;
}


.SubtituloM {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    font-family: "Inter";
    padding-bottom: 5vh;
}


.TodosLosRecuadrosM {
    display: flex;
    flex-direction: column;
}

.recuadroM1 {
    background-color: rgba(255, 218, 61, 0.4);
    ;
    margin-bottom: 6vh;
    border-radius: 45px;
    height: 22vh;
}

.recuadroM2 {
    background-color: rgba(255, 218, 61, 0.4);
    ;
    margin-bottom: 6vh;
    border-radius: 45px;
    height: 22vh;
}

.recuadroM3 {

    background-color: rgba(255, 218, 61, 0.4);
    ;
    margin-bottom: 0vh;
    border-radius: 45px;
    height: 22vh;
}

.ContenidoM1 {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*  background-color: aquamarine; */
}


.BotonComenzar1 {
    margin-right: 4vw;
    padding: 8px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-weight: bold;
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
    display: flex;
    align-self: flex-end;
}

.ArrowM1 {
    margin-top: 3px;
}


.ContenidoM1 h3 {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}

.ContenidoM1 p {
    margin-top: 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
}

@media screen and (max-width:1200px) {

    .recuadroM1 button {
        margin-top: -2vh;
    }

    .recuadroM2 button {
        margin-top: 0.8vh;
    }

    .recuadroM3 button {
        margin-top: -2vh;
    }


}