.mainFooter{
    margin-top: 180px;
    background-color:rgba(252, 191, 73, 1);
}

/* Arreglar esto ... imagen no es responciba */
.logoFooter{
    position: absolute;
    bottom: -44rem;
}

.row1f{
    padding-bottom: 30px;
}

.columna1f{
    height: 300px;
    background-color: bisque;
}
.columna2f{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: fit-content;
}

.columna2f h2{
    margin: 20px;
}

.row2f{
    background-color: black;
    padding: 3px;
}

/* Este esta Listo -> 19/12/22 lo unico que sirve bien 🤣 */
.row2f h5{
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-weight: lighter;
}

